/* Color Palette
# - 1B3C53
# - 234C6A
# - 456882
# - D2C1B6
*/

/* Global styles 
------------------------------------*/
html {
    /*background: lightblue;*/
    background-color: lightblue;
    margin: 0;
}

body {
    margin: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.column-width {
    width: 70%;
    float: left;
    min-height: 225px;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}



/* Header & Footer 
------------------------------------*/
header {
    background-image: linear-gradient(rgba(27, 60, 83, 0.65), rgba(70, 104, 130, 0.65)), url('../images/T1Hw.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px;
    color: white;
}

header h1, header h2, header p {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color : 1B3C53;
}

body {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 2.5% 2.5% 0;
    background: white;
    line-height: 1.8;
}

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(83, 104, 138);
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
    margin-top: 0;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}

footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}

.contact-info {
    padding: 10px;
    display: inline-block;

}

.profile-img {
    /*width: 300px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;*/
    border-radius: 50%;
}




/* Work Experience
------------------------------------*/



/* Education
------------------------------------*/
#two {
    background-image: linear-gradient(rgba(27, 60, 83, 0.7), rgba(210, 193, 182, 0.6)), url('../images/MatrixBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px;
    color: white;
}

#two h2, #two h3, #two p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}